@import "tailwindcss";

@theme {
  --font-display: 'Syne', sans-serif;
  --font-sans: 'DM Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #09030F;
  color: #EDE8FF;
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.font-display {
  font-family: 'Syne', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #200C48;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2E1565;
}
